<div class= "col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h1><%= product.name %></h1>
        <p><%= product.description %></p>
        <strong><%= number_to_currency(product.price) %> </strong>
        <p><%= product.colour %></p>
        <ul class="list-inline"></ul>
                <li><%= link_to 'Show', product %></li>
                <li><%= link_to 'Edit', edit_product_path(product) %></li>
                <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </div>