<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class= "col-md-4">
      <% cache @product do %>
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>
      
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      
      <p>
        <strong>Image:</strong>
        <%= image_tag(@product.image_url, class:"img-zoom img-responsive img-thumbnail", data_zoom_image: "@product.image_url") %>
      </p>
      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
      <% end %>
      <h6>  
          Views:
          <span class="badge">
            <%= @product.views %>
          </span>
      </h6>  
      <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, "@product.id") %>
      <% end %>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <%= @product.highest_rating_comment %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
      <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
      <%= render "new_comment" %>
      <%= render "comments" %>
      <%= will_paginate @comments %>
    </div>
  </div>
</div>
