<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track'  => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track"=> false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="alert alert-warning" role="alert">
    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>
  </div>
  
  <%= form_tag("/products", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
  <nav class="navbar navbar-default navbar-static-top">
    <div>
      <ul>
        <li><%=link_to "Home", home_path%></li>
         <li><%=link_to "About", about_path%></li>
        <li><%= link_to "Contact", contact_path%></li>
      </ul>
    </div>
  </nav>
  <ul class="nav pull-right">
    <li>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
      <% end %>
    </li>
  </ul>
<%= yield %>
<footer>
  &copy; 2016 Andre Heslop
</footer>

</body>
</html>
